.lc {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.lc-home {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;

}

.lc-head {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 50px;
    font-size: 13px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.lc-head-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
}

.lc-head-nav-right {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}

.lc-head-nav-right-logo {
    list-style: none;
}

.lc-head-nav-right-learn {
    height: 24px;
    width: 36px;
    list-style: none;
    font-size: 16px;
    margin-left: 31.5px;
    color: rgba(38, 38, 38, 0.75);
}

.lc-head-nav-right-learn:hover {
    color: black;
    transition: 1s;
}

.lc-head-nav-right-shop {
    height: 24px;
    width: 62.5px;
    margin-left: 31.5px;
    list-style: none;
}

.lc-head-nav-right-shop-font {
    color: rgba(255, 161, 25, 1);
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

.lc-head-nav-right-shop-triangle {
    fill: rgba(255, 161, 25, 1);
}

.lc-head-nav-left {
    display: flex;
    flex-wrap: nowrap;
}

.lc-head-nav-left-vip {
    width: 81px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    color: rgba(255, 161, 25, 1);
    font-size: 14px;
    margin: auto;
    text-align: center;
    margin-right: 10px;
}

.lc-head-nav-left-qiye {
    width: 52px;
    height: 28px;
    color: rgba(0, 122, 255, 1);
    background-color: white;
    border-color: rgba(0, 122, 255, 1);
    border-radius: 5px;
    border-width: 1.5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: auto 8px;

}

.lc-head-nav-left-qiye:hover {
    background-color: rgba(0, 122, 255, 0.07);
    transition: 1s;
}

.lc-head-nav-left-left {
    margin: auto;
    margin-left: 20px;


}

.phone {
    color: rgb(45, 181, 93);
    height: 24px;
    width: 24px;
    margin: auto;
    margin-right: 10px;

}

.lc-head-nav-right-register {
    height: 24px;
    width: 36px;
    list-style: none;
    font-size: 16px;
    color: rgba(38, 38, 38, 0.75);
}

.lc-head-nav-right-register:hover {
    color: black;
    transition: 1s;
}

.lc-main {
    padding-left: 17px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lc-content {
    justify-content: center;
    margin: 12px auto 0 auto;
}

.lc-content-left {
    width: 734px;
    height: 100%;
}

.lc-content-left-top {
    justify-content: space-between;
    height: 152px;
    display: flex;
}

.lc-content-left-top-left {
    z-index: 1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 362px;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
}

.lc-content-left-top-left-header {
    justify-content: center;
    height: 24px;
    width: 330px;
}



.lc-content-left-top-left-header-title,
.lc-content-left-top-left-header-title:visited {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    color: rgb(38, 38, 38);
    font-size: 16px;
    line-height: 20px;
}

.lc-content-left-top-left-header-reyi {
    background-color: rgba(255, 161, 22, 0.15);
    border-radius: 12px;
    width: 50px;
    color: rgba(255, 161, 22, 1);
    font-size: 13px;
    line-height: 20px;
    padding: 3px 8px;
    flex: 0 0 auto;
    box-sizing: border-box;
    margin-left: 4px;
}

.lc-content-left-top-left-middle {
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 16px 0;
    color: rgba(38, 38, 38, 0.75);
    font-size: 14px;
}

.lc-content-left-top-left-bottom {
    padding: 3px 0;
}

.lc-content-left-top-left-bottom-left {
    width: 52px;
    height: 16px;
    margin-left: 8px;
}

.photo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: -8px
}

.lc-content-left-top-left-bottom-num {
    color: rgb(38, 38, 38);
    margin-left: 5px;
    font-size: 12px;
}

.lc-content-left-top-left-bottom-middle {
    color: rgb(140, 140, 140);
    font-size: 12px;
}



.lc-content-left-top-left-bottom-right {
    float: right;
    color: rgba(0, 122, 255, 1);
    font-size: 14px;
}

.lc-content-left-top-left-bottom-right-jiantou {
    float: right;
    margin: 3px
}

.lc-content-left-top-main {
    margin-top: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15), -1px -1px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0 40px 0;
}

.lc-content-left-top-main-top-top {
    align-items: center;
    display: flex;
    position: relative;
}

.lc-content-left-top-main-top-top-logo {
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    color: rgb(239, 71, 67);
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lc-content-left-top-main-top-top-title {
    font-size: 16px;
    line-height: 22px;
    margin-left: 10px;
}

.lc-content-left-top-main-top-top-more {
    position: absolute;
    right: 15px;
    color: rgba(60, 60, 67, 0.6);
    font-size: 12px;
}

.lc-content-left-top-main-top-top-jiantou {
    position: absolute;
    right: 0;
    color: rgba(60, 60, 67, 0.6);
    font-size: 12px;
}

.lc-content-left-top-main-top-company {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.lc-content-left-top-main-top-company1 {
    box-sizing: border-box;
    width: 168px;
    height: 166px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 16px;

}

.company-logo {
    width: 42px;
    height: 42px;
}

.lc-content-left-top-main-top-company1-name,
.lc-content-left-top-main-top-company1:visited {
    color: black;
    margin-top: 8px;
}

.lc-content-left-top-main-top-company1-hot,
.lc-content-left-top-main-top-company1:visited {
    color: rgb(140, 140, 140);
    font-size: 12px;
}

.lc-content-left-top-main-top-company1-num,
.lc-content-left-top-main-top-company1-num:visited {
    color: rgb(45, 181, 93);
    font-size: 12px;
}

.lc-content-left-top-main-top-company1-discuss,
.lc-content-left-top-main-top-company1-discuss:visited {
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-color: rgba(0, 122, 255, 0.08);
    border-radius: 8px;
    height: 20px;
    line-height: 20px;
    padding: 4px 11px;
    position: relative;

}

.lc-content-left-top-main-top-company1-discuss:hover {
    transition: 0.4s;
    background-color: rgba(0, 122, 255, 0.25);
}

.lc-content-left-top-main-top-company1-chatlogo,
.lc-content-left-top-main-top-company1-chatlogo:visited {
    color: rgba(0, 122, 255, 1);
    margin-right: 3px;
    font-size: 12px;
}

.lc-content-left-top-main-top-company1-font,
.lc-content-left-top-main-top-company1-font:visited {
    font-size: 11px;
    color: rgba(0, 122, 255, 1);
}

.lc-content-left-top-main-top-company1-photo,
.lc-content-left-top-main-top-company1-photo:visited {
    float: right;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 8px;
}

.split {
    border-top: 1px solid rgba(0, 10, 32, 0.05);
    margin: 0 -16px 0 -16px;
}

.lc-content-left-top-main-discuss {
    padding: 16px 0;
}

.lc-content-left-top-main-discuss-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lc-content-left-top-main-discuss-top-left {
    display: flex;
    align-items: center;
}

.lc-content-left-top-main-discuss-join {
    color: rgb(140, 140, 140);
    margin-left: 11px;

}

.lc-content-left-top-main-discuss-sth {
    color: rgb(38, 38, 38);
    font-size: 16px;
    margin-left: 5px;
}

.lc-content-left-top-main-discuss-top-right {
    color: rgb(223, 223, 223);
    font-size: 12px;

}



.lc-content-left-top-main-discuss-middle {
    padding: 16px 0;
}

.lc-content-left-top-main-discuss-content {
    font-size: 14px;
    color: rgba(60, 60, 67, 0.6);
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lc-content-left-top-main-discuss-bottom-first {
    background-color: rgba(45, 181, 93, 0.15);
    border-radius: 20px;
    height: 24px;
    padding: 2px 8px;
}

.lc-content-left-top-main-discuss-bottom-firstfont {
    color: rgb(45, 181, 93);
    font-size: 12px;

}